{{> start }}

<div style="max-width:50em">

  <h1>FAQ</h1>

  <h4>Quel est le jeu utilisé cette année?</h4>
  <p>
    Le jeu de cette année est une <a target="_blank" href="http://ai.berkeley.edu/contest.html">adaptation de Pacman</a> développée par UC Berkeley.
    Vous trouverez sur la page du projet une foule d'informations quant aux règles de base du jeu et à son fonctionnement.
    Il est fortement recommandé de survoler cette page avant de commencer à programmer votre intelligence artificielle.
  </p>
  
  <h4>Comment le code de sera-t-il évalué?</h4>
  <p>Le code de votre intelligence artificielle sera exécuté sur le serveur de compétition lors des parties officielles, donc tout le monde est sur le même pied d'égalité.</p>
  
  <h4>Quel sera le déroulement de la journée?</h4>
  <p>Tout au long de la journée, vous pourrez développer votre IA et le tester dans des parties de pratique. À certains moments de la journée, nous créerons des parties officielles à travers plusieurs <em>rounds</em>. Ces parties officielles mettront votre IA à l'épreuve contre les bots des autres participants. Pour chaque partie officielle dans laquelle vous participerez, vous aurez l’opportunité de récolter des points. À la fin de la journée, nous cumulerons ces points et couronnerons l'équipe qui aura remporté le plus de points.</p>
  
  <h4>Langages acceptés</h4>
  <p>Le seul langage permis pour développer votre IA est Python 3.6.</p>
  <strong><p>Pour télécharger le <em>starter package</em>, référez-vous au <a href="/guide">guide de départ</a>.</p></strong>
  
  <h4>Est-ce que je peux tester mon IA avant de participer aux parties officielles?</h4>
  <p>Oui. Vous pouvez tester votre IA dans des matchs de pratique (type Entraînement), soit contre les bots du serveur, soit contre les bots des autres participants. Référez-vous à votre <a href="/dashboard">Dashboard</a> pour démarrer une partie d'entraînement.</p>
  
  <h4>Combien d'équipes y a-t-il?</h4>
  <p>Vous êtes 20 équipes à vous êtes inscrits aux JDIS Games 2019!</p>
  
  <h4>Ça finit à quelle heure?</h4>
  <p>La compétition aura lieu de 9h à 17h30.</p>
  
  <h4>Est-ce que le dîner est fourni?</h4>
  <p>Oui! Nous allons fournir de la pizza pour dîner.</p>

  <p>
  <img style="width:400px;" src="https://68.media.tumblr.com/4b36c2c983b53351ca2ef5b21a40fff4/tumblr_oahjd9HxiZ1txeruoo1_500.gif">
  </p>
  
  <h4>Est-ce que je peux copier une intelligence artificielle déjà existante?</h4>
  
  <img src="/public/assets/images/really.gif"/ style="max-width:500px; display:block;">

  <p><b>Non</b>, faites preuve de gros bon sens. Nous vous demandons de ne pas copier les intelligences artificielles déjà existantes pour ce jeu. Si nous trouvons qu'une équipe semble réussir un peu trop bien, nous évaluerons le code pour vérifier qu’il est authentique et non copié depuis Internet. Toute équipe prise à plagier sera disqualifiée automatiquement.</p>

</div>

{{> end }}
