{{> start }}

<div style="max-width:50em">

  <h1>Guide de départ</h1>
  <h2>1. Télécharger le <em>starter package</em></h2>
  <p>
    La première étape pour participer à la compétition est de télécharger le <em>starter package</em> ci-dessous.
  </p>
  <div class="row">
    <div class="three columns">
      <a style="color:white;" href="/public/bots/python-starter-package.zip">
        <div style="font-size:0.8em; display:block; background-color:#1A425E; border-color:#1A425E; color:white;" class="button">Python 3</div>
      </a>
    </div>
  </div>

  <br>
  <p>Le <em>starter package</em> comprend les fichiers et dossiers suivants :</p>
  <table>
    <tr>
      <th>Fichier/Dossier</th>
      <th>Description</th>
    <tr>
      <td>layouts</td>
      <td>Ce dossier contient les différentes cartes que vous pouvez utiliser pour tester votre bot.</td>
    </tr>
    <tr>
      <td>pacman</td>
      <td>Dossier qui contient l’environnement de jeu pour Windows/Linux/macOS. NE MODIFIEZ PAS CE DOSSIER</td>
    </tr>
    <tr>
      <td>replays</td>
      <td>Ce dossier contient les replays de toutes les parties que vous avez jouées. Les fichiers sans extension seront utilisés pour visualiser un replay localement, tandis que les fichiers .klvr devront être téléversés sur la plateforme pour visionner un replay.</td>
    </tr>
    <tr>
      <td>MyBot.py</td>
      <td>Le dossier que vous modifierez pour développer votre IA. Contient initialement le code d'une IA aléatoire (<em>RandomBot</em>).</td>
    </tr>
    <tr>
      <td>replay.py</td>
      <td>Ce fichier peut être utilisé pour visionner une partie que vous avez jouée. Vous devez donner en argument au script le nom du fichier de replay que vous désirez visionner.</td>
    </tr>
    <tr>
      <td>run.py</td>
      <td>Ce fichier peut être utilisé pour jouer une partie localement. Pour plus d'infos sur l'utilisation de ce fichier, vous pouvez l'exéctuer avec l'argument <code>--help</code>.</td>
    </tr>
  </table>

  <h2>2. Tester votre IA localement</h2>
  <p>
    Pour simuler une partie localement, exécutez tout simplement le fichier <code>./run.py</code> 
    pour exécuter une partie entre votre IA (<em>MyBot</em>) et <em>RandomBot</em> sur une carte de dimension 30x30.
    Une fois la partie simulée, un fichier avec une extension <code>.klvr</code> sera généré : ce fichier contient les détails de la partie que vous venez de simuler. Vous pouvez ensuite utiliser ce fichier pour voir la partie graphiquement à l'aide du <a href="/visualizer">visualiseur</a>.
  </p>

  <h2>3. Améliorer votre IA</h2>
  <p>
    Maintenant que vous savez ce que font les fichiers et comment lancer une partie localement, vous êtes maintenant prêt à créer votre propre intelligence artificielle.
    
    Commencez par prendre connaissance des <a href="/rules">règles du jeu.</a>, puis consultez le <a href="/reference">guide de référence.</a> Le <a href="/improve">guide d'amélioration</a> peut probablement vous donner un coup de main pour le départ. Bonne chance!
  </p>

  <h2>4. Téléverser votre IA</h2>
  <p>
    Via votre <a target="_blank" href="/dashboard">Dashboard</a>, vous pouvez téléverser une archive votre IA. Le fichier téléversé doit avoir une extension <code>.zip</code> et contenir au minumum le fichier MyBot fourni dans le <em>starter package</em>. Si désiré, il est possible de créer de nouveaux fichiers et d'y référer dans MyBot.py. Il suffira alors de les inclure dans le <code>.zip</code> avant de le téléverser.
  </p>

  <h2>5. Gagner le défi</h2>
  <p>
    Notez que le code des gagnants sera analysé afin de s'assurer que le code soit écrit le jour même du défi et qu'il n'y est pas eu de plagiat.
    Pour toute utilisation de librairies externes, venez nous voir pour en discuter (on ne mord pas!) à savoir si vous avez le droit de les utiliser.
    Aucune librairie ne sera installée sur le serveur (pas de <code>pip3 install</code> possible)
  </p>

</div>

{{> end }}
