{{> start }}
<div style="max-width:50em">

  <h1>Guide d'amélioration</h1>
  Vous ne savez pas par où commencer ? Voici quelques pistes de solution pour vous aider à commencer vos agents.
  <h4>Deux agents</h4>
  Deux classes sont à votre disposition pour implémenter vos agents. Puisque vous avez 
  <h4>Agent <i>Reflex</h4>
  <h4>Minimiser les pertes</h4>
  <h4>Inférence<h4/>
  <h4>Apprentissage par renforcement</h4>
</div>
{{> end }}

