{{> start }}

<link href="/public/assets/visualizer/bootstrap.min.css" rel="stylesheet">
<link href="/public/assets/visualizer/general.css" rel="stylesheet">

<div id="messageBox"></div>

<div id="pageContent" class="pageContent text-center">
    <div id="displayArea" class="col-sm-12 text-center">
        <h2 style="margin-top: 20px;">Sélectionnez ou déposez un fichier de jeu ici</h2>
        <p>Le fichier doit avoir une extension <code>.klvr</code>.
    </div>
    <div id="fileSelect" class="col-sm-12 text-center">
        <label for="filePicker" class="button  button-primary">Sélectionner un fichier</label>
        <input type="file" id="filePicker" accept=".klvr" style="display: none;">
    </div>

    <canvas id="pacman-game-visualizer"></canvas>
    <div>
        <label for="pacman_speed" style="display:initial;float:left;">Replay speed: </label>
        <input type="range" id="pacman_speed" name="pacman_speed"
                min="10" max="1000" value="200" style="width: 50vmin;float:left;">
    </div>
</div>

<script src="/public/assets/visualizer/jquery.min.js"></script>
<script src="/public/assets/visualizer/lodash.min.js"></script>
<script src="/public/assets/visualizer/bootstrap.min.js"></script>
<script src="/public/assets/visualizer/seedrandom.min.js"></script>
<script src="/public/assets/visualizer/xss.js"></script>
<script src="/public/assets/visualizer/general.js"></script>
<script src="/public/assets/visualizer/backend.js"></script>
<script src="/public/assets/visualizer/pixi.min.js"></script>
<script src="/public/assets/visualizer/parsereplay.js"></script>
<script src="/public/assets/visualizer/visualizer.js"></script>
<script src="/public/assets/visualizer/localVisualizer.js"></script>

{{> end }}
